version: 2.1

orbs:
  sonarcloud: sonarsource/sonarcloud@1.0

jobs:
  build:
    docker:
      - image: cimg/node:22.0
    steps:
      - checkout
      - run:
          name: Install backend dependencies
          command: |
            cd Backend
            npm install
      - run:
          name: Install frontend dependencies
          command: |
            cd frontend
            npm install
      - run:
          name: Build frontend
          command: |
            cd frontend
            CI=false npm run build

  sonarqube:
    docker:
      - image: cimg/node:22.0
    steps:
      - checkout
      - sonarcloud/scan

workflows:
  main:
    jobs:
      - build
      - sonarqube:
          context: SonarCloud
          requires:
            - build